body {
  background-color: #E8E0D5;
  font-family: 'Times New Roman', Times, serif;
}

.heading {
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  color: rgb(121, 46, 46) ;
  background-color: white;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  width: 560px;
  height: 560px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid gray;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
}

.change {
  background-color: black;
}

.new_grid,
.reset,
.random,
.color {
  font-size: 20px;
  background-color: rgb(121, 46, 46);
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-family: inherit;
}

#color_picker{
  display: none;
}