.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container{
  width: 560px;
  height: 560px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.square{
  border: 1px solid black;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
}

.change{
  background-color: black;
}

.new_grid , .reset{
  font-size: 20px;
  color: black;
  background-color: rgb(4, 247, 251);
  padding: 10px 30px;
  border: none;
  border-radius: 15px;
  text-align: center;
}
